<header>
  <!-- https://mdbootstrap.com/docs/jquery/navigation/navbar/ -->
  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="#">WebApps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/developer">Developers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/course">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teacher">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/section">Sections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student">Student</a>
        </li>
         <!-- <li class="nav-item">
          <a class="nav-link" href="/About Us">About Us</a> -->
         
         <!--  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">About us</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://alekyapochampally.github.io/final-about-me/">Alekya Pochampally</a>
              <a class="dropdown-item" href="https://dheeraj0327.github.io/about-me/">Dheeraj Edupuganti</a>
              <a class="dropdown-item" href="https://saichandugampa.github.io/about-me/ ">Sai Chandu Gampa</a>
              <a class="dropdown-item" href="https://jyothsna5268.github.io/about-me-20/ ">Sai Jyothsna Mathi</a>
            </div>
          </li> -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
  
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="https://alekyapochampally.github.io/final-about-me/">Alekya Pochampally</a></li>
               <li><a class="dropdown-item" href="https://dheeraj0327.github.io/about-me/">Dheeraj Edupuganti</a></li>
              <li><a class="dropdown-item" href="https://saichandugampa.github.io/about-me/ ">Sai Chandu Gampa</a></li>
              <li><a class="dropdown-item" href="https://jyothsna5268.github.io/about-me-20/ ">Sai Jyothsna Mathi</a></li>
            </ul>
             </li>
  
 

          
      </ul>
    </div>
  </nav>
</header>